<div class="container">
    <h1 class="mt-3">Advertisement List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/add-advertisement']" class="btn btn-primary">Add Advertisement</a>    
    </div>

    <ng-container *ngIf="advertisements$ | async as advertisements">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>File</th>
                        <th>User Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let advertisement of advertisements">
                        <td>{{advertisement.id}}</td>
                        <td>{{advertisement.title}}</td>
                        <td>{{advertisement.type}}</td>
                        <td><img src="{{advertisement.file}}" width="400"/></td>
                        <td>{{advertisement.userId}}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="['/edit-advertisement', advertisement.id]">Edit</a>
                            <button type="button" class="btn btn-danger ms-3" (click)="onDelete(advertisement.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
</div>