<div class="container">
    <h1 class="mt-3">Panel List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/add-panel']" class="btn btn-primary">Add Panel</a>    
    </div>

    <ng-container *ngIf="panels$ | async as panels">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Height</th>
                        <th>Width</th>
                        <th>Brightness</th>
                        <th>Status</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>User Id</th>
                        <th>Location Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let panel of panels">
                        <td>{{panel.id}}</td>
                        <td>{{panel.height}}</td>
                        <td>{{panel.width}}</td>
                        <td>{{panel.brightness}}</td>
                        <td>{{panel.status}}</td>
                        <td>{{panel.longitude}}</td>
                        <td>{{panel.latitude}}</td>
                        <td>{{panel.userId}}</td>
                        <td>{{panel.locationId}}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="['/edit-panel', panel.id]">Edit</a>
                            <button type="button" class="btn btn-danger ms-3" (click)="onDelete(panel.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
</div>