<div class="container">
    <h1 class="mt-3">Queue List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/add-queue']" class="btn btn-primary">Add Queue</a>    
    </div>

    <ng-container *ngIf="queues$ | async as queues">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Display Order</th>
                        <th>Panel Id</th>
                        <th>Advertisement Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let queue of queues">
                        <td>{{queue.id}}</td>
                        <td>{{queue.displayOrder}}</td>
                        <td>{{queue.panelId}}</td>
                        <td>{{queue.advertisementId}}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="['/edit-queue', queue.id]">Edit</a>
                            <button type="button" class="btn btn-danger ms-3" (click)="onDelete(queue.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
</div>