<div class="container">
    <h1 class="mt-3">Campaign Advertisement List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/categories/add']" class="btn btn-primary">Add Ad Campaign</a>    
    </div>

    <ng-container *ngIf="campaignAds$ | async as campaignAds">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Views</th>
                        <th>Displayed Times</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let adCampaign of campaignAds">
                        <td>{{adCampaign.id}}</td>
                        <td>{{adCampaign.views}}</td>
                        <td>{{adCampaign.displayedTimes}}</td>
                        <td>
                            <a class="btn btn-light" [routerLink]="['/admin/categories/', adCampaign.id]">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
</div>