<div class="container">
    <h1 class="mt-3">Campaign Advertisement List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/add-campaign-advertisement']" class="btn btn-primary">Add Campaign Advertisement</a>    
    </div>

    <ng-container *ngIf="campaignAds$ | async as campaignAds">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Views</th>
                        <th>Displayed Times</th>
                        <th>Ad Campaign Id</th>
                        <th>Advertisement Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let campaignAd of campaignAds">
                        <td>{{campaignAd.id}}</td>
                        <td>{{campaignAd.views}}</td>
                        <td>{{campaignAd.displayedTimes}}</td>
                        <td>{{campaignAd.adCampaignId}}</td>
                        <td>{{campaignAd.advertisementId}}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="['/edit-campaign-advertisement', campaignAd.id]">Edit</a>
                            <button type="button" class="btn btn-danger ms-3" (click)="onDelete(campaignAd.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
</div>