<div class="container">
    <h1 class="mt-3">IoT Device List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/add-iot-device']" class="btn btn-primary">Add IoT Device</a>    
    </div>

    <ng-container *ngIf="iotDevices$ | async as iotDevices">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Panel Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let iotDevice of iotDevices">
                        <td>{{iotDevice.id}}</td>
                        <td>{{iotDevice.name}}</td>
                        <td>{{iotDevice.status}}</td>
                        <td>{{iotDevice.panelId}}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="['/edit-iot-device', iotDevice.id]">Edit</a>
                            <button type="button" class="btn btn-danger ms-3" (click)="onDelete(iotDevice.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
</div>